/* Error: expected "{".
 *    ,
 * 82 | >>>>>>> 2693042bf3f182be659a581e6bf1ff065caf8d20
 *    |                                                 ^
 *    '
 *   sass\pages\home.scss 82:49  @import
 *   sass\style.scss 5:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 82 \2502  >>>>>>> 2693042bf3f182be659a581e6bf1ff065caf8d20\d\a    \2502                                                  ^\a    \2575 \a   sass\\pages\\home.scss 82:49  @import\a   sass\\style.scss 5:9         root stylesheet';
}
