.navbarElements {
  font-weight: bold;
  font-size: 12px;
}
.navbarElements .navbarText {
  margin-left: 20px;
}

.containersPages, .containerHumanSpace4, .containerHumanSpace3, .containerHumanSpace2, .containerHumanSpace1, .mainContainerHumanSpace, .containerHome4, .containerHome3, .containerHome2, .containerHome1 {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
}
.containersPages .commonButton, .containerHumanSpace4 .commonButton, .containerHumanSpace3 .commonButton, .containerHumanSpace2 .commonButton, .containerHumanSpace1 .commonButton, .mainContainerHumanSpace .commonButton, .containerHome4 .commonButton, .containerHome3 .commonButton, .containerHome2 .commonButton, .containerHome1 .commonButton {
  font-size: 16px;
  padding: 16px 38px;
}

.footer {
  background-color: black;
  width: 100%;
  height: 15vh;
  margin: 0 auto 0 auto;
  padding: 0 20px 0 20px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright {
  color: #555252;
}
.footer a {
  text-decoration: none;
  color: white;
}

.groupTextHome, .containerHome4 .groupTextHome4, .containerHome3 .groupTextHome3, .containerHome2 .groupTextHome2, .containerHome1 .groupTextHome1 {
  max-width: 550px;
  padding-top: 200px;
  font-weight: bold;
}
.groupTextHome .paragraph, .containerHome4 .groupTextHome4 .paragraph, .containerHome3 .groupTextHome3 .paragraph, .containerHome2 .groupTextHome2 .paragraph, .containerHome1 .groupTextHome1 .paragraph {
  font-size: 19px;
}
.groupTextHome .groupTitle, .containerHome4 .groupTextHome4 .groupTitle, .containerHome3 .groupTextHome3 .groupTitle, .containerHome2 .groupTextHome2 .groupTitle, .containerHome1 .groupTextHome1 .groupTitle {
  margin: -10px 0 55px 0;
  font-size: 40px;
}

.groupTextHumanSpace, .containerHumanSpace4 .groupTextHumanSpace4, .containerHumanSpace3 .groupTextHumanSpace3, .containerHumanSpace2 .groupTextHumanSpace2, .containerHumanSpace1 .groupTextHumanSpace1 {
  padding-top: 220px;
}
.groupTextHumanSpace .groupTitle, .containerHumanSpace4 .groupTextHumanSpace4 .groupTitle, .containerHumanSpace3 .groupTextHumanSpace3 .groupTitle, .containerHumanSpace2 .groupTextHumanSpace2 .groupTitle, .containerHumanSpace1 .groupTextHumanSpace1 .groupTitle {
  font-size: 60px;
  font-weight: bold;
}
.groupTextHumanSpace .paragraphDescription, .containerHumanSpace4 .groupTextHumanSpace4 .paragraphDescription, .containerHumanSpace3 .groupTextHumanSpace3 .paragraphDescription, .containerHumanSpace2 .groupTextHumanSpace2 .paragraphDescription, .containerHumanSpace1 .groupTextHumanSpace1 .paragraphDescription {
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
}

.containerHome1 {
  background-image: url(/images/home/01.jpg);
}
.containerHome2 {
  background-image: url(/images/home/03.jpg);
}
.containerHome3 {
  background-image: url(/images/home/02.gif);
}
.containerHome4 {
  background-image: url(/images/home/04.jpg);
}
.containerHome4 .groupTextHome4 {
  max-width: 610px;
}

* {
  margin: 0;
  padding: 0;
}

.mainContainerHumanSpace {
  background-image: url(/images/humanSpace/01.jpg);
}
.mainContainerHumanSpace .mainGroupTextHumanSpace {
  margin-top: 15%;
}
.mainContainerHumanSpace .mainGroupTextHumanSpace .mainTitle {
  font-size: 120px;
}
.mainContainerHumanSpace .mainGroupTextHumanSpace .mainTitleParagraph {
  font-size: 30px;
  font-weight: 100;
}

.contactParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d8d8d8;
  font-size: 18px;
}
.contactParagraph p {
  width: 800px;
}
.contactParagraph a {
  text-decoration: none;
  color: white;
}

.containerHumanSpace1 {
  background-image: url(/images/humanSpace/02.jpg);
}
.containerHumanSpace1 .groupTextHumanSpace1 {
  padding-left: 55%;
}

.containerHumanSpace2 {
  background-image: url(/images/humanSpace/03.jpg);
}
.containerHumanSpace3 {
  background-image: url(/images/humanSpace/04.jpg);
}
.containerHumanSpace3 .groupTextHumanSpace3 {
  padding-left: 55%;
}

.containerHumanSpace4 {
  background-image: url(/images/humanSpace/05.jpg);
}
.contactContainer {
  width: 100vw;
  height: 100vh;
  padding-top: 22%;
  font-size: 15px;
  color: #d8d8d8;
}
.contactContainer a {
  text-decoration: none;
  color: white;
}
.contactContainer .contactButtons {
  border: 2px solid #d8d8d8;
  font-size: 16px;
  padding: 15px;
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
