.navbarElements {
  font-weight: bold;
  font-size: 12px;
  .navbarText {
    margin-left: 20px;
  }
}
.containersPages {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: white;

  .commonButton {
    font-size: 16px;
    padding: 16px 38px;
  }
}
.footer {
  background-color: black;
  width: 100%;
  height: 15vh;
  margin: 0 auto 0 auto;
  padding: 0 20px 0 20px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  .copyright {
    color: $copyright-color;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.groupTextHome {
  max-width: 550px;
  padding-top: 200px;
  font-weight: bold;
  .paragraph {
    font-size: 19px;
  }
  .groupTitle {
    margin: -10px 0 55px 0;
    font-size: 40px;
  }
}

.groupTextHumanSpace {
  padding-top: 220px;
  .groupTitle {
    font-size: 60px;
    font-weight: bold;
  }
  .paragraphDescription {
    font-weight: 100;
  }
}
