* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerHome1 {
  @extend .containersPages;
  background-image: url(/images/home/01.jpg);

  .groupTextHome1 {
    @extend .groupTextHome;
  }
}
.containerHome2 {
  @extend .containersPages;
  background-image: url(/images/home/03.jpg);

  .groupTextHome2 {
    @extend .groupTextHome;
  }
}
.containerHome3 {
  @extend .containersPages;
  background-image: url(/images/home/02.gif);

  .groupTextHome3 {
    @extend .groupTextHome;
  }
}
.containerHome4 {
  @extend .containersPages;
  background-image: url(/images/home/04.jpg);

  .groupTextHome4 {
    @extend .groupTextHome;
    max-width: 610px;
  }
}

// Tablets
@media (max-width: 768px) {
  .containersPages {
    background-position: center;
  }
  .groupTextHome {
    .groupTitle {
      font-size: 35px;
    }
  }
}

// Smartphones
@media (max-width: 425px) {
  .logoNavbar {
    width: 150px;
    height: 25px;
  }
  .containersPages {
    background-position: center;
  }
  .groupTextHome {
    padding-top: 120px;
    .groupTitle {
      font-size: 27px;
    }
    .commonButton {
      margin-bottom: 90px;
    }
  }
}
