* {
  margin: 0;
  padding: 0;
}

.containerHome1 {
  @extend .containerHome;
  background-image: url(/images/home/01.jpg);

  .groupTextHome1 {
    @extend .groupTextHome;
  }
}

.containerHome2 {
  @extend .containerHome;
  background-image: url(/images/home/03.jpg);

  .groupTextHome2 {
    @extend .groupTextHome;
  }
}

.containerHome3 {
  @extend .containerHome;
  background-image: url(/images/home/02.gif);

  .groupTextHome3 {
    @extend .groupTextHome;
  }
}
.containerHome4 {
  @extend .containerHome;
  background-image: url(/images/home/04.jpg);

  .groupTextHome4 {
    @extend .groupTextHome;
    max-width: 610px;
  }
}
