* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainerHumanSpace {
  @extend .containersPages;
  background-image: url(/images/humanSpace/01.jpg);

  .mainGroupTextHumanSpace {
    margin-top: 155px;
    text-shadow: gray 1px 0.5px;
    .mainTitle {
      font-size: 120px;
    }
    .mainTitleParagraph {
      font-size: 30px;
      font-weight: 100;
    }
  }
}

.contactParagraph {
  color: #d8d8d8;
  font-size: 18px;
  padding: 40px;
  p {
    max-width: 800px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.containerHumanSpace1 {
  @extend .containersPages;
  background-image: url(/images/humanSpace/02.jpg);

  .groupTextHumanSpace1 {
    @extend .groupTextHumanSpace;
    padding-left: 55%;
  }
}

.containerHumanSpace2 {
  @extend .containersPages;
  background-image: url(/images/humanSpace/03.jpg);

  .groupTextHumanSpace2 {
    @extend .groupTextHumanSpace;
  }
}

.containerHumanSpace3 {
  @extend .containersPages;
  background-image: url(/images/humanSpace/04.jpg);

  .groupTextHumanSpace3 {
    @extend .groupTextHumanSpace;
    padding-left: 55%;
  }
}

.containerHumanSpace4 {
  @extend .containersPages;
  background-image: url(/images/humanSpace/05.jpg);

  .groupTextHumanSpace4 {
    @extend .groupTextHumanSpace;
  }
}

.contactContainer {
  width: 100vw;
  height: 100vh;
  padding-top: 22%;
  font-size: 15px;
  color: #d8d8d8;

  a {
    text-decoration: none;
    color: white;
  }
  .contactButtons {
    border: 2px solid #d8d8d8;
    font-size: 16px;
    padding: 15px;
    margin-right: 5px;
  }
}

// Tablets
@media (max-width: 769px) {
  .mainContainerHumanSpace {
    .mainGroupTextHumanSpace {
      margin-top: 40px;
      .mainTitle {
        font-size: 90px;
      }
      .mainTitleParagraph {
        font-size: 30px;
      }
    }
  }

  .contactParagraph {
    font-size: 20px;
  }
  .groupTextHumanSpace {
    padding-top: 100px;
  }
}

// Smartphones
@media (max-width: 426px) {
  .logoNavbar {
    width: 150px;
    height: 25px;
  }
  .mainContainerHumanSpace {
    .mainGroupTextHumanSpace {
      margin-top: 40%;
      .mainTitle {
        font-size: 45px;
      }
      .mainTitleParagraph {
        font-size: 15px;
      }
    }
  }

  .contactParagraph {
    font-size: 14px;
  }
  .groupTextHumanSpace {
    padding-top: 100px;
    padding-left: 20px;
    .groupTitle {
      font-size: 55px;
    }
    .paragraphDescription {
      text-shadow: black 1px 1px;
    }
  }
  .contactContainer {
    .contactButtons {
      margin: 10px;
    }
  }
}
